---
title: APC Release Notes
---

<strong><%= modified_date %></strong>


## <a id='1.17.1'></a> 1.17.1

Release date: 26.11.2018

### Cloud Foundry Core

Cloud Foundry cf-deployment v6.2.0 ([release notes](https://github.com/cloudfoundry/cf-deployment/releases/tag/v6.2.0)) with
Diego version v2.22.0 ([release notes](https://github.com/cloudfoundry/diego-release/releases/tag/v2.22.0)) and Capi version v1.72.0 ([release notes](https://github.com/cloudfoundry/capi-release/releases/tag/1.72.0)). 

#### Buildpacks (stacks: cflinuxfs2/cflinuxfs3)

Since cf-depoyment 6.0.0 the new stack cflinuxfs3 (ubuntu 18.08) is supported additionally to the 
stack cflinuxfs2 (ubuntu 14.04) which is still set as the default stack.
Linux-based apps pushed without an explicit flag specifying the cflinuxfs3 stack will continue 
to be staged on cflinuxfs2 as before. 

- Java Buildpack: v4.16.1 #([see Caveats](https://docs.developer.swisscom.com/devguide-sc/buildpacks/java/caveats.html))
- Ruby Buildpack: v1.7.26
- Go Buildpack: v1.8.29
- Node.js Buildpack: v1.6.34
- Python Buildpack: v1.6.23
- PHP Buildpack: v4.3.64
- Staticfile Buildpack: v1.4.34
- Binary Buildpack: v1.0.27
- .Net Core Buildpack: v2.1.5



## <a id='1.15.0'></a> 1.15.0

Release date: 29.10.2018

### Cloud Foundry Core

Cloud Foundry cf-deployment v5.3.0 ([release notes](https://github.com/cloudfoundry/cf-deployment/releases/tag/v5.3.0)) with
Diego version v2.19.0 ([release notes](https://github.com/cloudfoundry/diego-release/releases/tag/v2.19.0)) and Capi version v1.70.0 ([release notes](https://github.com/cloudfoundry/capi-release/releases/tag/1.70.0)). 


#### Buildpacks

- Java Buildpack: v4.16.1 #([see Caveats](https://docs.developer.swisscom.com/devguide-sc/buildpacks/java/caveats.html))
- Ruby Buildpack: v1.7.24
- Go Buildpack: v1.8.28
- Node.js Buildpack: v1.6.32
- Python Buildpack: v1.6.21
- PHP Buildpack: v4.3.61
- Staticfile Buildpack: v1.4.32
- Binary Buildpack: v1.0.27
- .Net Core Buildpack: v2.1.5



## <a id='1.13.3'></a> 1.13.3

Release date: 21.09.2018

### Cloud Foundry Core

Cloud Foundry cf-deployment v4.5.0 ([release notes](https://github.com/cloudfoundry/cf-deployment/releases/tag/v4.5.0)) with
Diego version v2.17.0 ([release notes](https://github.com/cloudfoundry/diego-release/releases/tag/v2.17.0)) and Capi version v1.69.0 ([release notes](https://github.com/cloudfoundry/capi-release/releases/tag/1.69.0)) . 


#### Buildpacks

- Java Buildpack: v4.15 #([see Caveats](https://docs.developer.swisscom.com/devguide-sc/buildpacks/java/caveats.html))
- Ruby Buildpack: v1.7.23
- Go Buildpack: v1.8.27
- Node.js Buildpack: v1.6.32
- Python Buildpack: v1.6.21
- PHP Buildpack: v4.3.61
- Staticfile Buildpack: v1.4.32
- Binary Buildpack: v1.0.26
- .Net Core Buildpack: v2.1.4



## <a id='1.11.4'></a> 1.11.4

Release date: 11.09.2018

old version: Capi version v1.66.0 ([release notes](https://github.com/cloudfoundry/capi-release/releases/tag/1.66.0))

new version: Capi version v1.67.0 ([release notes](https://github.com/cloudfoundry/capi-release/releases/tag/1.67.0))



## <a id='1.11.3'></a> 1.11.3

Release date: 28.08.2018

### Cloud Foundry Core

Cloud Foundry cf-deployment v3.4.0 ([release notes](https://github.com/cloudfoundry/cf-deployment/releases/tag/v3.4.0)) with
Diego version v2.16.0 ([release notes](https://github.com/cloudfoundry/diego-release/releases/tag/v2.16.0)) and Capi version v1.66.0 ([release notes](https://github.com/cloudfoundry/capi-release/releases/tag/1.66.0)) . 


#### Buildpacks

- Java Buildpack: v4.15 #([see Caveats](https://docs.developer.swisscom.com/devguide-sc/buildpacks/java/caveats.html))
- Ruby Buildpack: v1.7.22
- Go Buildpack: v1.8.26
- Node.js Buildpack: v1.6.30
- Python Buildpack: v1.6.20
- PHP Buildpack: v4.3.59
- Staticfile Buildpack: v1.4.31
- Binary Buildpack: v1.0.21
- .Net Core Buildpack: v2.1.4



## <a id='1.6.1'></a> 1.6.1

Release date: 29.06.2018

### Cloud Foundry Core

Cloud Foundry cf-deployment v1.40.0 ([release notes](https://github.com/cloudfoundry/cf-deployment/releases/tag/v1.40.0)) with Diego version 2.8.0 ([release notes](https://github.com/cloudfoundry/diego-release/releases/tag/v2.8.0)). 


#### Buildpacks

- Java Buildpack: v4.12 #([see Caveats](https://docs.developer.swisscom.com/devguide-sc/buildpacks/java/caveats.html))
- Ruby Buildpack: v1.7.19
- Go Buildpack: v1.8.23
- Node.js Buildpack: v1.6.25
- Python Buildpack: v1.6.17
- PHP Buildpack: v4.3.56
- Staticfile Buildpack: v1.4.28
- Binary Buildpack: v1.0.19
- .Net Core Buildpack: v2.0.7



## <a id='1.5.1'></a> 1.5.1

Release date: 27.04.2018

### Cloud Foundry Core

Cloud Foundry cf-deployment v1.27.0 ([release notes](https://github.com/cloudfoundry/cf-deployment/releases/tag/v1.27.0)) with Diego version 2.4.0 ([release notes](https://github.com/cloudfoundry/diego-release/releases/tag/v2.4.0)).
Differing components: garden-runC 1.13.1, PHP buildpack 4.3.53 


#### Buildpacks

- Java Buildpack: v4.10 #([see Caveats](https://docs.developer.swisscom.com/devguide-sc/buildpacks/java/caveats.html))
- Ruby Buildpack: v1.7.16
- Go Buildpack: v1.8.21
- Node.js Buildpack: v1.6.22
- Python Buildpack: v1.6.12
- PHP Buildpack: v4.3.53
- Staticfile Buildpack: v1.4.26
- Binary Buildpack: v1.0.18
- .Net Core Buildpack: v2.0.5



## <a id='1.4.0'></a> 1.4.0

Release date: 26.03.2018/30.03.2018
Notes: 
Meanwhile we changed from "cf-release" to "cf-deployment" as it is the new supported way to deploy cloudfoundry.
Therefore we set our APC versioning back and started from 1.x.x. 


### Cloud Foundry Core

Cloud Foundry cf-deployment v1.21.0 ([release notes](https://github.com/cloudfoundry/cf-deployment/releases/tag/v1.21.0)) with Diego version 2.2.0 ([release notes](https://github.com/cloudfoundry/diego-release/releases/tag/v2.2.0)).

#### Buildpacks

- Java Buildpack: v4.8 #([see Caveats](https://docs.developer.swisscom.com/devguide-sc/buildpacks/java/caveats.html))
- Ruby Buildpack: v1.7.15
- Go Buildpack: v1.8.20
- Node.js Buildpack: v1.6.20
- Python Buildpack: v1.6.11
- PHP Buildpack: v4.3.51
- Staticfile Buildpack: v1.4.24
- Binary Buildpack: v1.0.18
- .Net Core Buildpack: v1.0.32




([see APC Release Notes Archive for older entries](https://docs.developer.swisscom.com/devguide-sc/release-notes-archive.html))
