---
title: Service Backup and Restore
owner: Services
---

<strong><%= modified_date %></strong>

In the <%= vars.product_short %> web console, you can manually trigger and restore backups of your services.

## <a id='create'></a> Create Backup

To create a backup, navigate to the service instance in the web console and then to the "Backups" tab. There you can click the "Create" button to trigger a manual backup.

<p class="note">
  <strong>Note</strong>: Backups have to be triggered manually from the web console.
</p>

Be aware that you can only keep a set number of backups per service instance. The actual number is dependent on the service type and service plan. In case you already have the maximum number, you cannot create any new backups before deleting one of the existing.

It may take several minutes to backup your service (depending on the size of your service instance).

## <a id='restore'></a> Restore Backup

You can restore any backup at any time. The current state of your backup will be *overwritten and replaced* with the state saved to the backup. You are advised to create a backup of the current state before restoring an old state.

## <a id='limitations'></a> Limitations

* You can only perform one backup or restore action per service instance at a time. If an action is still ongoing, you cannot trigger another one.
* You cannot exceed the maxmimum number of backups per service instance.
* A backup is kept for 30 days, after which it is deleted.
